section.blog-page {
  h1 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  
  .post-date {
    display: none;
  }
  .dark {
      .post a {
        color:#fff !important;
      }
      .card {
        background-color: transparent !important;
      }
  }
  .post {
    margin: 1rem 0;
    padding: 1rem;
    
    a {
      color: #212529;
      display: block;
      &:hover,
      &:focus {
        color: lighten(#212529, 10%);
        text-decoration: none;
      }
    }
  }
  .post:hover {
    background-color: #f4f4f4;
    -webkit-transform: translateY(-.25rem);
    transform: translateY(-.25rem);
    box-shadow: 0 4px 8px rgba(46,41,51,.08), 0 8px 16px rgba(71,63,79,.16);
  }
}
.dark {
  .post a {
    color:#fff !important;
  }
  .card {
    background-color: transparent !important;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  .post:hover {
    background-color: #333 !important;
    -webkit-transform: translateY(-.25rem);
    transform: translateY(-.25rem);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1), 0 8px 16px rgba(255, 255, 255, 0.1) !important;
  }
}