// Styling for the download section
section.contact {
    text-align: center;
    
    h2 {
        margin-top: 0;
        margin-bottom: 25px;
        i {
            color: $brand-github;
        }
    }
    ul.list-social {
        margin-bottom: 0;
        li {
            a {
                font-size: 20px;
                line-height: 80px;
                display: block;
                width: 80px;
                height: 80px;
                color: #212529;
                border-radius: 100%;
            }
            &.social-twitter {
                a {
                    background-color: $brand-twitter;
                    &:hover {
                        background-color: darken($brand-twitter, 5%);
                    }
                }
            }
            &.social-facebook {
                a {
                    background-color: $brand-facebook;
                    &:hover {
                        background-color: darken($brand-facebook, 5%);
                    }
                }
            }
            &.social-github {
                a {
                    background-color: $brand-github;
                    &:hover {
                        background-color: darken($brand-github, 5%);
                    }
                }
            }
        }
    }
    .dark {
        background-color: #2a2b2d;
        color: #fff;
        transition: all 0.6s ease;

        ul.list-social li.list-inline-item a {
            color: #fff !important;
        }
    }
}