// Global styling for this template
html,
body {
    width: 100%;
    height: 100%;
}

body {
    @include body-font;
}

a {
    @include transition-all;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

hr {
    max-width: 100px;
    margin: 25px auto;
    border-width: 1px;
    border-color: fade-out($gray-darker, .9);
}

hr.light {
    border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading-font;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.section-heading {
    padding: 2rem 0 3rem;
    h2 {
        font-size: 3rem;
    }
}
.hidden {
    display:none;
}
.bump {
    margin: 25px auto 0;
}
.has-image-centered {
    margin-left: auto;
    margin-right: auto;
  }
.panel-up {
    margin-top: -1.5rem;
  }
  .cornsilk {
      background-color:#ffffcc;
}
.navbar-item img {
    max-height: 3rem !important;
  }
  .button.is-info {
    &:hover,
      &:focus,
      &:active,
      &.active {
          color: #000;
          border-color: #000;
          background-color: rgb(253, 204, 82);
      }
  }

    // Modal show - hide
  #modal-toggle {
    display: none;
  }
  #modal-toggle:checked ~ #myModal {
    display: flex;
  }