section.jamstack {
  h2 {
    font-size: 30px;
  } 
  .card {
    margin: .25rem;
  }
  .feature-item {
    padding-top: 20px;
    padding-bottom: 20px;
    //text-align: center;
    h2, h3 {
        font-size: 30px;
    }
    
}
}